*
!.zshrc
!.zprofile
!manjaro-zsh-config
!.oh-my-zsh/
!.oh-my-zsh/**
!.gitignore
!.config/
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/alacritty/alacritty.yml
!.config/kitty
!.config/kitty/kitty.conf
!.config/kitty/kitty-startup.session
!Documents/
!Documents/Scripts
!Documents/Scripts/*
!Documents/enable-freesync.sh
!Documents/gamescope.txt
!Documents/gamescope.txt
!.icons/
!.icons/**
!.themes/
!.themes/**